<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>


  <body>
    <h1>Index Page</h1>
    <p><%= title %></p>

    <form action="/" method="post">
    Sizes:
    S <input type="checkbox" name="sizes" value="S">
    M <input type="checkbox" name="sizes" value="M">
    L <input type="checkbox" name="sizes" value="L">
    <br />
    <br />
    <button type="submit">Submit</button>
    </form>

  </body>
</html>
